.cardContainer{
    background-color: var(--color-grey-4) ;
    width: 100%;
    min-width: 100%;
    min-height: 3.0625rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 20px;
    flex-wrap: wrap;

    border-radius: 4px;



     div{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}