.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 22px;
    background-color: var(--color-grey-3);
    position: relative;
    .text{
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 18px;
        h1{
            margin: 0 auto;
        }
    }

    .submitButton{
        margin: 20px 0;
        margin-bottom: 20px;
    }
}
